.container {
    display: flex;
    justify-content: space-around;
}

img {
    width: 150px;
    height:150px;
    border-radius: 80%;
    margin-bottom: 20px;
}

.director, .manager, .staff  {
    text-align: center;
} 

.director, .manager, .staff {
    width: 30%;
}

.categories {
    width: 20%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

